:root {
  --primary_color: #E63946;
  --secondary_color: #F1FAEE;
  --accent1-color: #A8DADC;
  --accent2_color: #457B9D;
  --font-heading: 'Smooch', cursive;
  --font-text: 'Montserrat', sans-serif;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
}

/* Header Styling */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px;
  background-color: var(--primary_color);
  border-bottom: 2px solid #ccc;
}

header img {
  max-width: 100px;
}

header nav.links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

header nav.links a {
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--secondary_color);
  font-weight: bold;
}

/* Hero Section Styling */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  font-family: var(--font-heading);
  font-size: 2.5em;
  margin: 20px 0;
  color: var(--secondary_color);
  top: 120px;
  left: 40px;

}

.hero article {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 1200px;
  bottom: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-family: var(--font-text);
}

.hero article img {
  width: auto;
  height: 150px;
  float: right;
  border-radius: 8px;
  margin-left: 20px;
}

.hero article p {
  text-align: left;
  margin: 20px;
  color: white;
  flex: 1;
}

/* History Section Styling */
.history {
  padding: 20px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history h2 {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.history p {
  color: #555;
}

/* Adventures Section Styling */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section h2 {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.section p {
  max-width: 800px;
  margin: 0 auto;
}

.section-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.section-img {
  flex: 1 1 200px;
  max-width: 200px;
  height: auto;
  margin: 10px;
} 

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary_color);
  border-top: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer p {
  margin-inline: auto;
  text-align: center;
}

nav.sociallinks {
  display: flex;
  gap: 20px;
}

nav.sociallinks a img {
  height: 24px;
  width: 24px;
}